@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  margin: 0;
  padding: 10px;
  background: rgb(228, 231, 235);
  background: linear-gradient(
    360deg,
    rgba(228, 231, 235, 1) 0%,
    rgba(161, 172, 184, 1) 100%
  );
}

.testimonial-container {
  background-color: #0a2453;
  color: #fff;
  border-radius: 0.5rem;
  margin: 20px auto;
  padding: 3.5rem 4.6rem;
  max-width: 768px;
  position: relative;
}

.fa-quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.6rem;
  position: absolute;
  top: 75px;
}

.fa-quote-right {
  left: 38px;
}

.fa-quote-left {
  right: 38px;
}
.testimonial {
  line-height: 28px;
  text-align: justify;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user .user-image {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}

.user .user-details {
  margin-left: 10px;
}

.user .username {
  margin: 0;
}

.user .role {
  font-weight: normal;
  margin: 10px 0;
}

.progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 10s linear infinite;
  transform-origin: left;
}
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 1.5rem 2rem;
  }
  .fa-quote {
    display: none;
  }
}
